<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/hellos"
            routerLinkActive="bg-primary text-white"
            >{{ "menu.hellos" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact-form"
            routerLinkActive="bg-primary text-white"
            >{{ "menu.contactForm" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link pe-auto"
            [ngClass]="{ 'bg-primary text-white': isRouteActive() }"
            (click)="goToEmployees()"
            >{{ "menu.employees" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link pe-auto"
            routerLink="/todos"
            routerLinkActive="bg-primary text-white"
            >{{ "menu.todos" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <button
            type="button"
            [disabled]="isUserLoggedIn()"
            class="btn btn-secondary"
            (click)="login()"
            i18n
          >
            Login
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="changeToSk()"
            i18n
          >
            SK
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="changeToEn()"
            i18n
          >
            EN
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
